body {
    align-content: center;
    background-color: #7CA0F8;
    }
 h1 { 
    color: #FCF897;
 } 
 p { color: white;}
 .explicacao { display: none;}

 select{ 
    color:#484747;
     }
.destaque { color: #FCF897; }

.valorMinimo { background-color: #FCF897;
    max-width: 200px;}
.valorMinimo > p { color:#7CA0F8;
text-align: center;
padding: 5%;}

footer {
	position: fixed;
	bottom: 0;
     margin-left: 0;
	}

    button { 
        background-color: #7CA0F8;
        border-color: #7CA0F8;
    }
.popup .conteudoPopup{ 
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translater(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    box-sizing: border-box;
}

.conteudoPopup > p{ 
display: none;
transform:translater(-50%,-50%) scale(0);
 color: #000;
 text-align: center;
 padding: 10%;
 box-sizing: border-box;
}
.popup .botaoFechar {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #7CA0F8;
    font-size: 25px;
    font-weight:600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}


 .popup.ativa .fundo  {
     display: block;
     transition: all 300ms ease-in-out;
    transform:translater(-50%,-50%) scale(1);
 }

 .popup.ativa .conteudoPopup { 
     display: block;
     transition: all 300ms ease-in-out;
    transform:translater(-50%,-50%) scale(1);

 }
 .popup.ativa .conteudoPopup > p{ 
    display: block;
    transition: all 300ms ease-in-out;
   transform:translater(-50%,-50%) scale(1);

}